<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-best Order Page</title>
    <script type="text/javascript" src="/js/order.js"></script>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <div>E-best order</div>
    <div>
        <table>
            <colgroup>
                <col width="30%">
                <col width="70%">
            </colgroup>
            <tr>
                <td>매매유형</td>
                <td>
                    <label for="buy"><input type="radio" id="buy" value="2" name="bnsTpCode" checked="checked"/>매수</label>
                    <label for="sell"><input type="radio" id="sell" value="1" name="bnsTpCode"/>매도</label>
                    <label for="repeat"><input type="radio" id="repeat" value="3" name="bnsTpCode"/>반복</label>
                </td>
            </tr>
            <tr th:if="{guboon == 'hantoo'}">
                <td>계좌정보</td>
                <td>
                    <input id="cano" name="cano" value="" placeholder="계좌 앞8자리"/>
                    -
                    <input id="acntPrdtCd" name="acntPrdtCd" value="01"/>
                </td>
            </td>
            <tr>
                <td>매수 목표 가격</td>
                <td><input id="targetBuyPrc" name="targetBuyPrc" placeholder="기매수 호가" value="500000000"/> 원</td>
            </tr>
            <tr>
                <td colspan="2">
                    주의 : 반복으로 하실 경우 매 목표 가격을 넘는 만큼 매수 * 갯수 금액으로 반복합니다.<br/>
                    변동성이 큰 상품의 경우 사용에 주의해주세요!<br/>
                </td>
            </tr>
            <tr>
                <td>종목코드</td>
                <td><input id="isuNo" name="isuNo" placeholder="예시 : 이베스트 -> 078020" value="459580"/></td>
            </tr>
            <tr>
                <td colspan="2">KBSTAR 단기통안채 : 196230</td>
            </tr>
            <tr>
                <td>매수 가격</td>
                <td><input id="buyPrc" name="buyPrc" placeholder="매수 호가"/> 원</td>
            </tr>
            <tr>
                <td>매도 가격</td>
                <td><input id="sellPrc" name="sellPrc" placeholder="매도 호가"/> 원</td>
            </tr>
            <tr>
                <td>매매 갯수</td>
                <td><input id="ordQty" name="ordQty" placeholder="갯 수"/> 주</td>
            </tr>
            <tr>
                <td>msg</td>
                <td><span class="alertMsg" id="alertMsg" readonly="true"></span></td>
            </tr>
            <tr>
                <td colspan="2"><a class="btn-3d green" href="#" onclick="sendOrder();">주문하기</a></td>
            </tr>
        </table>
        <div>
            <input type="hidden" th:value="{guboon}"/>
        </div>
    </div>
    <form action="/logout">
        <button>로그아웃</button>
    </form>
</body>
</html>